In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [4]:
df = pd.read_csv("AAPL Historical Data.csv")
df

             Date   Price    Open    High     Low     Vol. Change %
0      1980-12-12    0.13    0.13    0.13    0.13  469.03M  -99.88%
1      1980-12-15    0.12    0.12    0.12    0.12  175.88M   -7.69%
2      1980-12-16    0.11    0.11    0.11    0.11  105.73M   -8.33%
3      1980-12-17    0.12    0.12    0.12    0.12   86.44M    9.09%
4      1980-12-18    0.12    0.12    0.12    0.12   73.45M    0.00%
...           ...     ...     ...     ...     ...      ...      ...
10685  2023-05-01  169.59  169.28  170.45  168.64   49.39M   -0.05%
10686  2023-05-02  168.54  170.09  170.35  167.54   48.43M   -0.62%
10687  2023-05-03  167.45  169.50  170.92  167.16   59.44M   -0.65%
10688  2023-05-04  165.79  164.89  167.04  164.31   70.38M   -0.99%
10689  2023-05-05  173.57  170.98  174.30  170.76  112.91M    4.69%

[10690 rows x 7 columns]

In [5]:
#linear regression
from sklearn.linear_model import LinearRegression
x = np.array(df["Price"]).reshape(-1,1)
y = np.array(df["Open"])

linreg = LinearRegression().fit(x,y)
linreg.score(x,y)

0.9996899301918497

In [6]:
linreg.intercept_

0.007762053679048364

In [7]:
linreg.coef_

array([0.99889458])

In [13]:
a = np.array(df["Open"]).reshape(-1,1)
b = np.array(df["Low"])

reg = LinearRegression().fit(a,b)
reg.score(a,b)

0.9998540013042383

In [14]:
reg.intercept_

0.006464659622796631

In [15]:
reg.coef_

array([0.98858275])